<apex:page >
    <apex:includeScript value="https://code.jquery.com/jquery-1.8.2.min.js" />

    <script>

        var j$= jQuery.noConflict();
        
        j$(document).ready(function(){
        })
    
        function resizeIframe(newHeight) {
            document.getElementById('iframe').style.height = parseInt(newHeight,10) + 10 + 'px';
        }
        
           
    </script>

    <apex:iframe id="iframe" src="{!URLFOR($Page.ART_CASupportTeamTools_Content)}"/>
</apex:page>