<apex:page doctype="HTML" sidebar="false" showHeader="false">
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<style>
body{
    background-color:#CFEEF8;
    }

.myButton {
        
        -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
        -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
        box-shadow: 3px 4px 0px 0px #8a2a21;     
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
        background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
        
        background-color:#c62d1f;
        
        -moz-border-radius:26px;
        -webkit-border-radius:26px;
        border-radius:26px;
        
        border:5px solid #d02718;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:16px;
        font-weight:normal;
        padding:6px 6px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #810e05;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
        background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
        text-decoration: none;
        
        background-color:#f24437;
    }
    .myButton:active {
        position:relative;
        top:1px;
    
</style>
<body>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/apex/Complaints?retURL=%2Fa5r%2Fo&save_new=1&sfdc.override=1" class="myButton" target="_parent"><center>Internal<br></br>Complaint</center></a>
</body>
</html>
</apex:page>