<apex:page showHeader="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" controller="PageController">

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Ashland Partner Portal : <apex:outputText value=" {!page.Page_Title__c}" /></title>
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

        <c:CommunityStyles />
        
        <style type="text/css">
            .contact-us .masthead img {
                width: auto;
                height: auto;
                margin: 0;
            }
        </style>

    </head>

    <body class="subpage contact-us">
        <c:AccountInfoBar />
        <c:CommunityNav />
        <c:CommunitySearch />
        <c:Branding />

        <apex:outputPanel rendered="{!page.Main_Text__c != ''}">
        <div class="masthead container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        <apex:outputText value="{!page.Page_Title__c}" />
                    </h1>
                    <h2 class="lowercase">
                        <apex:outputText value="{!page.Subtitle__c}" />
                    </h2>
                    <p class="subheading align_left">
                        <apex:outputText value="{!page.Main_Text__c}" escape="false" />
                    </p>
                </div>
            </div>
        </div>
        </apex:outputPanel>


        <section class="contact-section bg_white">
            <div class="container">
                <div class="row">

                    <apex:outputPanel rendered="{!page.Content_Left__c != ''}">
                        <apex:outputText value="{!page.Content_Left__c}" escape="false" />
                    </apex:outputPanel>

                    <apex:outputPanel rendered="{!page.Content_Right__c != ''}">
                        <apex:outputText value="{!page.Content_Right__c}" escape="false" />
                    </apex:outputPanel>
                </div>
            </div>
        </section>
        <footer id="footer">
            <c:CommunitiesFooter />
        </footer>

        <c:CommunitiesScripts />

    </body>

</html>

</apex:page>