<apex:page standardController="Market__c" extensions="DataListExampleExtension">
    <apex:form >
    <apex:dataList value="{!literature}" var="f" id="myList">
        <apex:outputText value="{!f.Id}"/>
        <apex:commandLink action="{!removeFromArray}" value="Remove" rerender="myList">
            <apex:param name="delete" assignTo="{!valueToRemove}" value="{!f.Id}"/>
        </apex:commandLink>
    </apex:dataList>
    </apex:form>
</apex:page>