<apex:page standardController="Call_Report_Goodyear__c" extensions="Call_Report_Goodyear"
           action="{!initAction1}">

    <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-1.6.2.min.js')}" />

    <apex:form id="theForm">
    
        <apex:pageBlock >

        <apex:pageBlockButtons location="top">
            <apex:actionStatus id="astat1">
                <apex:facet name="start">
                    <apex:outputText styleClass="bold" value=" Please wait ...">
                        <apex:image value="{!$Resource.spinner}"/>
                    </apex:outputText>
                </apex:facet>
                <apex:facet name="stop">
                    <apex:outputPanel styleClass="nowrap">
                        <apex:commandButton action="{!sendCallReport}" value="Send Call Report"
                                            rerender="theForm" status="astat1"
                                            rendered="{!!renderMsgs}"/>
                        <apex:outputPanel rendered="{!renderMsgs}">
                            <apex:commandButton action="{!init2}" value="Reset"
                                            rerender="theForm" status="astat1"/>
                        </apex:outputPanel>
                        &nbsp;&nbsp;&nbsp;&nbsp;<b>{!msg}</b> 
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>
        </apex:pageBlockButtons>
        
        <apex:pageBlockTable value="{!contacts}" var="c" styleClass="tbl1">

            <apex:column headerClass="right" styleClass="right" width="20px">
                <apex:facet name="header">#</apex:facet>
                <apex:outputText value="{!c.recNum}"/>
            </apex:column>

            <apex:column headerClass="chkbx" styleClass="chkbx" width="20px">
                <apex:facet name="header">
                    <apex:inputCheckbox styleClass="allcb1" value="{!allContacts}"
                        onclick="onClick_AllChkbox('rowcb1', this);"/>
                </apex:facet>
                <apex:inputCheckbox styleClass="rowcb1" value="{!c.selctd}"
                    onclick="onClick_RowChkbox('rowcb1', 'allcb1');"/>
            </apex:column>

            <apex:column width="80px">
                <apex:facet name="header">Role</apex:facet>
                <apex:outputField value="{!c.contct.Role__c}"/>
            </apex:column>

            <apex:column width="120px">
                <apex:facet name="header">Name</apex:facet>
                <apex:outputLink value="/{!c.contct.Id}" target="_blank">
                    <apex:outputField value="{!c.contct.Name}"/>
                </apex:outputLink>
            </apex:column>

            <apex:column width="80px">
                <apex:facet name="header">Email</apex:facet>
                <apex:outputText value="{!c.contct.Email}"/>
            </apex:column>

            <apex:column >
                <apex:facet name="header"></apex:facet>
            </apex:column>

        </apex:pageBlockTable>    

        </apex:pageBlock>
    </apex:form>
    
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        
        function onClick_AllChkbox(rowCbClass, allChkbox) {
            $j("."+rowCbClass).each(function() {
                if (this.disabled == false) {
                    this.checked = allChkbox.checked;
                }
            });
        }

        function onClick_RowChkbox(rowCbClass, allCbClass) {
            var allChkbox = $j("."+allCbClass).get(0);
            allChkbox.checked = true;
            $j("."+rowCbClass).each(function() {
                if (!this.checked) {
                    allChkbox.checked = false;
                    return false;
                }
            });
        }

    </script>
    
    <style type="text/css">
        .pbBody {margin: 0 !important;}
        .Custom75Block .bPageBlock {border: 1px solid #eaeaea !important;}
        .Custom75Block .bPageBlock .pbHeader,
        .tbl1 {border: 0px solid #eaeaea !important;}
        .pbBody table.list tr.headerRow th.chkbx {padding-left: 4px;}

        /* .bPageBlock .pbButton {text-align: right;} */
        .bold           {font-weight: bold;}
        .chkbx          {text-align: center; width: 20px;}
        .right          {text-align: right;}
        .tbl1 td        {white-space: nowrap;}
        .tbl1 td .chkbx {margin-left: 0px; padding-left: 0px; width: 10px;}
    </style>
     
</apex:page>