<apex:page cache="false" showHeader="false" standardStylesheets="true"
    controller="VISiteHomeController">

<apex:variable var="customerPortalId" value="{!$Setup.VI_Portal_Settings__c.Customer_Portal_ID__c}" />
<apex:variable var="partnerPortalId" value="{!$Setup.VI_Portal_Settings__c.Partner_Portal_ID__c}" />
<apex:variable var="serverURL" value="{!$Setup.VI_Portal_Settings__c.Server_URL__c}" />

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Valvoline Installer</title>
    <apex:stylesheet value="{!URLFOR($Resource.VIResources2, 'css/VIStyles.css')}" />
    <meta name="Title" content="Valvoline Installer" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

    <style type="text/css">

        .errorMsg {color: #ffffcc; font-size: 1.4em;}

    </style>

    <apex:includeScript value="/soap/ajax/19.0/connection.js" />
    <apex:includeScript value="/soap/ajax/19.0/apex.js" />
    <apex:includeScript value="{!URLFOR($Resource.VIResources2, 'js/jquery-1.4.2.min.js')}" />

    <script type="text/javascript">

        jQuery.noConflict();

        jQuery(function() {
            jQuery("#inputForm").keypress(function (e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                    doLogin(); return false;
                } else {
                    return true;
                }
            });
        });

        function doLogin() {
            jQuery("#loginError").hide();
            var msg1 = "Please enter your Username.";
            var msg2 = "Please enter your Password.";
            // Username is required
            var username = jQuery("#un").val();
            username = jQuery.trim(username);
            if (username.length == 0) {
                jQuery("#loginError").text(msg1).show(); alert(msg1);
                return false;
            }

            // Password is required
            var password = jQuery("#pw").val();
            password = jQuery.trim(password);
            if (password.length == 0) {
                jQuery("#loginError").text(msg2).show(); alert(msg2);
                return false;
            }

            ajaxLogin(username);
        }

        function forgotPassword() {
            jQuery("#loginError").hide();
            var msg1 = "Please enter your Username";
            // Username is required
            var username = jQuery("#un").val();
            username = jQuery.trim(username);
            if (username.length == 0) {
                jQuery("#loginError").text(msg1).show(); alert(msg1);
                return;
            }

            ajaxForgotPassword(username);
        }

    </script>
</head>

<body >
<div id="VI-Body">

    <script type="text/javascript">

        function ajaxLoginComplete() {
            var portalId = jQuery(document.getElementById("{!$Component.loginForm.portalId}")).val();
            var loginResult = jQuery(document.getElementById("{!$Component.loginForm.loginResult}")).val();
            //var msg1 = "Your login attempt has failed. The username or password may be incorrect, or your location or login time may be restricted. Please contact the administrator at your company for help.";
            var msg1 = "Your username was not found. Please contact the administrator at your company for help.";
            if (loginResult.toLowerCase() == "success") {
                jQuery("#portalId").val(portalId);
                jQuery('#inputForm').submit();
            }
            else {
                jQuery("#loginError").text(msg1).show(); alert(msg1);
            }
        }

        function ajaxForgotPasswordComplete() {
            var username = jQuery(document.getElementById("{!$Component.loginForm.username}")).val();
            var portalId = jQuery(document.getElementById("{!$Component.loginForm.portalId}")).val();
            var loginResult = jQuery(document.getElementById("{!$Component.loginForm.loginResult}")).val();
            var msg1 = "Your username was not found. Please contact the administrator at your company for help.";
            if (loginResult.toLowerCase() == "success") {
                jQuery("#fpf-orgId").val("{!$Organization.Id}");
                jQuery("#fpf-portalId").val(portalId);
                jQuery("#fpf-Username").val(username);
                jQuery('#forgotPasswordForm').submit();
            }
            else {
                jQuery("#loginError").text(msg1).show(); alert(msg1);
            }
        }

    </script>

    <apex:form id="loginForm">
            <apex:actionFunction name="ajaxLogin" action="{!login}" rerender="loginForm" oncomplete="ajaxLoginComplete();">
                <apex:param name="param0" assignTo="{!username}" value="" />
            </apex:actionFunction>
            <apex:actionFunction name="ajaxForgotPassword" action="{!login}" rerender="loginForm"
                                 oncomplete="ajaxForgotPasswordComplete();">
                <apex:param name="param0" assignTo="{!username}" value="" />
            </apex:actionFunction>

            <apex:inputHidden id="username" value="{!username}" />
            <apex:inputHidden id="portalId" value="{!portalId}" />
            <apex:inputHidden id="loginResult" value="{!loginResult}" />
    </apex:form>

    <form id="forgotPasswordForm" action="{!serverURL}/secur/forgotpasswordp.jsp" method="post">
        <input id="fpf-orgId" name="orgId" type="hidden" value="" />
        <input id="fpf-portalId" name="portalId" type="hidden" value="" />
        <input id="fpf-Username" name="Username" type="hidden" value="" />
        <input id="fpf-retURL" name="retURL" type="hidden" value="/secur/login_portal.jsp" />
    </form>

    <c:VI_Portal_Page_Header p_headerHeight="420" p_renderTopImage="true"/>

    <div style="position: relative; height: 100%;">
        <br/>
        <form id="inputForm" action="{!serverURL}/secur/login_portal.jsp" method="post">
            <input id="startURL" name="startURL" type="hidden" value="" />
            <input id="loginURL" name="loginURL" type="hidden" value="" />
            <input id="useSecure" name="useSecure" type="hidden" value="true" />
            <input id="orgId" name="orgId" type="hidden" value="{!$Organization.Id}" />
            <input id="portalId" name="portalId" type="hidden" value="" />
            <input id="loginType" name="loginType" type="hidden" value="3" />
            <input id="action" name="action" type="hidden" value="loginAction" />

        <table class="VI-hpTbl" width="100%">
            <colgroup>
                <col style="width: 34%;"/>
                <col style="width: 32%;"/>
                <col style="width: 34%;"/>
            </colgroup>
            <tr style="background-color: #878785;">
                <td class="VI-hpTblTd" colspan="3">

                    <label for="un" class="VI-hpTxtLbl">Username</label>
                    <input id="un" name="un" type="text" class="VI-hpTxtFld" size="30" maxlength="80"/>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <label for="pw" class="VI-hpTxtLbl">Password</label>
                    <input id="pw" name="pw" type="password" class="VI-hpTxtFld" size="30" maxlength="80"/>

                    &nbsp;&nbsp;&nbsp;

                    <span style="clear: left;">
                    <a href="#" onclick="doLogin();return false;">
                        <img src="{!URLFOR($Resource.VIResources2, 'img/SignIn_Button.png')}"/></a></span>

                </td>
            </tr>

            <tr style="background-color: #878785;">
                <td class="VI-hpTblTd" colspan="3">
                    <div id="loginError" class="errorMsg" style="display: none;"></div>
                </td>
            </tr>

            <tr >
                <td class="VI-hpTblTd" colspan="3"
                    style="color: #2B2B28; font-weight: bold; font-size: 1.4em; padding: 10px 20px; text-align: left;">
                    Welcome to the new Valvoline Installer website.
                    The site provides you greater access to Solutions designed to help grow your business
                    and drive profitability through incremental revenue opportunities.

                    <!--<p><apex:outputLink value="{!$Page.VI_Product_Template_Page1}">
                            <h4>Products</h4>
                        </apex:outputLink></p>-->
                </td>
            </tr>

            <tr><td colspan="3" style="padding: 0px 20px 10px 20px;"><hr/></td></tr>

            <tr style="font-size: 1.2em; font-weight: bold; line-height: 0px;">
                <td class="VI-hpTblTd">New Users</td>

                <td class="VI-hpTblTd2">Returning Users</td>

                <td class="VI-hpTblTd">Forgotten Password</td>
            </tr>

            <tr style="font-size: 1em;">
                <td class="VI-hpTblTd"
                    style="padding: 0px 20px; text-align: left;">
                    For assistance accessing the site, please send an email to:
                    <a href="mailto:feedback@valvoline.com">feedback@valvoline.com</a><br/><br/>
                    In the email please include:
                    <ul>
                        <li>Your First and Last Name</li>
                        <li>Store Name</li>
                        <li>Store Address, City, State and Zip Code</li>
                        <li>Valvoline Account Number (if known)</li>
                    </ul></td>

                <td class="VI-hpTblTd2" style="text-align: left;">
                    Please enter your Username (email&nbsp;address) and Password above.</td>

                <td class="VI-hpTblTd" style="padding: 0px 20px; text-align: left;">
                    Please click on the link below and a new password
                           will be forwarded to your email address on file.<br/><br/>
                    <a href="#" onclick="forgotPassword(); return false;">Forgot Password?</a>
                </td>
            </tr>

            <tr><td colspan="3" style="padding: 0px 20px 0px 20px;">&nbsp;</td></tr>

        </table>

        </form>
    </div>

    <apex:include pageName="VIPortalPageFooter"/>

</div>

<apex:pageMessages escape="false" rendered="{!showDebugMsgs}"/>

</body>

</html>
</apex:page>