<apex:component controller="NavController">
    <header>
        <div class="account-info container">
            <div class="col-md-4 hidden-xs hidden-md">
            </div>
            <div class="col-sm-6 col-lg-4 col-sm-push-6 col-lg-push-4 utility-nav no-padding-x">
                <ul>
                    <li>
                        <a class="border-right" href="{!URLFOR($Page.ProfileView + '?id=' + $User.Id)}" title=""><apex:outputText value="{!$User.FirstName} {!$User.LastName}" /></a>
                    </li>
                    <li>
                        <a class="border-right" href="{!$Site.Prefix}/secur/logout.jsp" title="Logout">Logout</a>
                    </li>
                    <li>
                        <a class="" href="{!URLFOR($Page.MessagingView)}" title="Messages">Messages</a>
                        <apex:variable value="{!unreadConversationCount}" var="unreadCount" />
                        <apex:outputPanel rendered="{!unreadCount.unreadCount > 0}">
                            <span class="messages-alert">
                                <a href="{!URLFOR($Page.MessagingView)}">
                                    <apex:outputText value="{!unreadCount.unreadCount}" />
                                    <apex:outputText value="+" rendered="{!unreadCount.hasMore}" />
                                </a>
                            </span>
                        </apex:outputPanel>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-lg-4 col-lg-pull-4 hidden-xs center logo">
                <p class="uppercase mobile-center">
                    <a href="{!URLFOR($Page.Home)}">
                        <img src="{!URLFOR($Resource.StaticImages, 'logo_red.png')}" alt="Ashland - Link to Home Page" />
                        <!--<span class="mobile-wrap">Partner Portal</span>-->
                    </a>
                </p>
            </div>
        </div>
    </header>
</apex:component>