<apex:component >
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="content copyright">
                <p>&copy; <script>document.write(new Date().getFullYear());</script>, Ashland. All rights reserved.</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content nav">
                <ul>
                    <li>
                        <a target="_blank" href="http://www.ashland.com/terms-of-use">Terms of Use</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.ashland.com/privacy">Privacy</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.ashland.com/global-standards-of-business-conduct">Global Standards of Business Conduct</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="content social">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/AshlandInc" target="_blank">
                            <img src="{!URLFOR($Resource.StaticImages, 'icon_facebook.png')}" alt="Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+ashland" target="_blank">
                            <img src="{!URLFOR($Resource.StaticImages, 'icon_googleplus.png')}" alt="Google Plus" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ashlandinc" target="_blank">
                            <img src="{!URLFOR($Resource.StaticImages, 'icon_twitter.png')}" alt="Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/ashland-inc" target="_blank">
                            <img src="{!URLFOR($Resource.StaticImages, 'icon_linkedin.png')}" alt="LinkedIn" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/AshlandInnovation" target="_blank">
                            <img src="{!URLFOR($Resource.StaticImages, 'icon_youtube.png')}" alt="YouTube" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<c:CommunitiesScripts />
</apex:component>