<apex:component >

    <apex:attribute name="page" description="data binding" type="ASC_Page__c" required="true" />

    <apex:outputPanel rendered="{!page.Page_Title__c != '' || (page.Subtitle__c != '' && page.Main_Text__c != '')}">
        <div class="masthead container">
            <c:CommunitySearch />
            <h1>
                <apex:outputText value="{!page.Page_Title__c}" />
            </h1>
            <apex:outputPanel rendered="{!page.Subtitle__c != '' && page.Main_Text__c != ''}">
                <h2 class="lowercase">
                    <apex:outputText value="{!page.Subtitle__c}" />
                </h2>
                <p class="subheading align_left">
                    <apex:outputText value="{!page.Main_Text__c}" />
                </p>
            </apex:outputPanel>
        </div>
    </apex:outputPanel>
    
</apex:component>