<apex:component controller="PageController">

    <!-- Solution Spotlight -->
    <apex:variable value="{!page.Article1__r}" var="art1" />
    <apex:outputPanel rendered="{!art1.Name != ''}">
    <section class="solution-spotlight bg_gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <h2>
                            <apex:outputText value="{!art1.Article_header__c}" />
                        </h2>
                        <!--<h3>
                            <apex:outputText value="{!art1.Name}" />
                        </h3>-->
                        <apex:outputText value="{!art1.Preview_Image__c}" escape="false" />
                        <apex:outputPanel rendered="{!art1.Expert_Position__c != ''}">
                            <p class="subtitle">
                                <apex:outputText value="{!art1.Expert_Position__c}" />
                            </p>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!art1.Tagline__c != ''}">
                            <p class="subtitle">
                                <apex:outputText value="{!art1.Tagline__c}" />
                            </p>
                        </apex:outputPanel>
                        <p class="description">
                            <apex:outputText value="{!art1.Preview__c}" />
                        </p>
                        <apex:outputPanel rendered="{!art1.Button_path__c != ''}">
                            <apex:variable value="blank" var="a1_target" rendered="{!art1.Opens_New_Tab__c}" />

                            <div class="button-container">
                                <a class="cta-btn" href="{!art1.Button_path__c}" title="{!art1.Button_text__c}" target="{!a1_target}">
                                    <apex:outputText value="{!art1.Button_text__c}" escape="true" />
                                </a>
                            </div>

                        </apex:outputPanel>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </apex:outputPanel>
</apex:component>